<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="about">
		<hr>
		<h2><%= t('static_pages.what_is_gpwa') %></h2>
		<%= render "partials/about_us" %>
		<%= image_tag 'pwr-b4.png',:title => 'Projekt stworzony przez studentów Politechniki Wrocławskiej, Wydział Informatyki i Zarządzania'  %>
		<hr>
		<h2><%= t('static_pages.founders') %></h2>
		<%= render "partials/ceos" %>
	</div>
</section>
<%= render "partials/footer" %>