<%= render "partials/header" %>
<section id="content">
	<div class="wrapper about" id="about">
		<h2>Czym jest GPW Analizer?</h2>
		<%= render "partials/about_us" %>
		<%= render "partials/about_us_imgb4" %>
		<%= render "partials/ceos" %>
	</div>
</section>
<%= render "partials/footer" %>