<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="about">
		<hr>
		<h2>Czym jest GPW Analizer?</h2>
		<%= render "partials/about_us" %>
		<%= image_tag 'pwr-b4.png',:title => 'Budynek B4'  %>
		<hr>
		<h2>Twórcy GPW Analizer</h2>
		<%= render "partials/ceos" %>
	</div>
</section>
<%= render "partials/footer" %>