<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="media">
		<div class="media-header img-responsive">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<h1><span>01 </span>Dla mediów</h1>
				</div>
				<div class="col-md-5  col-sm-5 text-center">
					<%= image_tag "man-with-graphs.png"%>
				</div>
			</div>
		</div>
		<div class="text-place">
			<p>
				Jak widać, strona dopiero raczkuje, ale wierzymy, że możemy osiągnąć sukces. Jeżeli Ty także widzisz potencjał, jaki drzemie w GPW Analizer i wiesz, w jaki sposób możnaby nam pomóc w promocji, odezwij się do nas!
			</p>
		</div>
		<div class="media-header">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<h1><span>02 </span>Współpraca</h1>
				</div>
				<div class="col-md-5  col-sm-5 text-center">
					<%= image_tag "men-handshake.png"%>
				</div>
			</div>
		</div>
		<div class="text-place">
			<p>
				Masz pomysł, w jaki sposób ulepszyć witrynę? Znasz się na giełdzie i chciałbyś pomóc się nam rozwinąć? Z chęcią wysłuchamy Twoich uwag, zapraszamy do działu kontakt.
			</p>
		</div>
		<div class="media-header">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<h1><span>03 </span>Sponsoring</h1>
				</div>
				<div class="col-md-5  col-sm-5 text-center">
					<%= image_tag "man-happy2.png"%>
				</div>
			</div>
		</div>
		<div class="text-place">
			<p>
				GPW Analizer jest narzędziem darmowym, ale jak każda witryna, jej utrzymanie wymaga od nas nakładów finansowych. Jeżeli jesteś zainteresowany sponsoringiem, skontaktuj się z nami.
			</p>
		</div>
	</div>
</section>
<%= render "partials/footer" %>