<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="media">
		<div class="row">
			<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 text-center">
				
				<%= image_tag "man-with-graphs.jpg", :height => 275 %>
			</div>
			<div class="col-md-6 col-sm-6 col-sm-offset-1">
				<h1>Dla mediów</h1>
				<p>
					Jak widać, strona dopiero raczkuje, ale wierzymy, że możemy osiągnąć sukces. Jeżeli Ty także widzisz potencjał, jaki drzemie w GPW Analizer i wiesz, w jaki sposób możnaby nam pomóc w promocji, odezwij się do nas!
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 text-center">
				<%= image_tag "men-handshake.png", :height => 275 %>
			</div>
			<div class="col-md-6 col-sm-6 col-sm-offset-1">
				<h1>Współpraca</h1>
				<p>
					Masz pomysł, w jaki sposób ulepszyć witrynę? Znasz się na giełdzie i chciałbyś pomóc się nam rozwinąć? Z chęcią wysłuchamy Twoich uwag, zapraszamy do działu kontakt.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1  text-center">
				<%= image_tag "man-happy.png", :height => 275 %>
			</div>
			<div class="col-md-6 col-sm-6  col-sm-offset-1">
				<h1>Sponsoring</h1>
				<p>
					GPW Analizer jest narzędziem darmowym, ale jak każda witryna, jej utrzymanie wymaga od nas nakładów finansowych. Jeżeli jesteś zainteresowany sponsoringiem, skontaktuj się z nami.
				</p>
			</div>
		</div>
	</div>
</section>
<%= render "partials/footer" %>