<%= render "partials/header" %>
<section id="content">
	<div class="wrapper container" id="landing-page">
		<h3 class="text-center">Przpominanie hasła do konta</h3>
		<%= form_for :user, url: auth_forgot_password_path, method: :post, html: { class: "form-horizontal", role: "form", id: "login-form" } do |f| %>
		<div class="row">
			<div class="form-group">
				<%= f.label :email, class: "col-lg-2 col-lg-offset-3 col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-1 control-label" %>
				<div class="col-lg-4 col-md-4 col-sm-5">
					<%= f.email_field :email, class: "form-control", placeholder: :email %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-5 col-lg-4 col-md-offset-5 col-md-5 col-sm-9 col-sm-offset-3">
					<%= f.button :send_confirmation, type: :submit, class: "btn btn-green col-lg-12 col-md-9 col-sm-6"%>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</section>
<%= render "partials/footer" %>