<div class="analysis-item">
	<div class="analysis-header row">
		<div class="col-lg-9 col-md-9 col-sm-9">
			<h2>
				<a href="http://www.gpw.pl/karta_spolki/<%= object['full_id'] %>/" target="_blank"><%= object['name'] %></a>
				<a href="<%= wall_path+'/archive/'+object['company_id'].to_s %>" class="tooltip-element glyphicon glyphicon-minus-sign archive" title="Usuń dotychczasowe analizy dla spółki"></a>
			</h2>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<select class="selectpicker" data-companyid="<%= object['company_id'] %>">
				<% object['dates'].each do |date| %>
				<option><%= date %></option>
				<% end %>
			</select>
		</div>
		<div class="clearfix "></div>
	</div>
	<%= render 'partials/analysis_item_body', :object => object %>
</div>

