<div class="avatars-gallery">
	<div class="row">
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar1.png", :class => "img-responsive", :title => "avatar1" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
		</div>
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar2.png", :class => "img-responsive", :title => "avatar2" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
		</div>
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar3.png",:class => "img-responsive", :title => "avatar3" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked>
		</div>
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar4.png",:class => "img-responsive", :title => "avatar4" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios4" value="option4" checked>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar5.png",:class => "img-responsive", :title => "avatar5" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios5" value="option5" checked>
		</div>
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar6.png",:class => "img-responsive", :title => "avatar6" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios6" value="option6" checked>
		</div>
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar7.png",:class => "img-responsive", :title => "avatar7" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios7" value="option7" checked>
		</div>
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar8.png",:class => "img-responsive", :title => "avatar8" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios8" value="option8" checked>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar9.png",:class => "img-responsive", :title => "avatar9" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios9" value="option9" checked>
		</div>
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar10.png",:class => "img-responsive", :title => "avatar10" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios10" value="option10" checked>
		</div>
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar11.png",:class => "img-responsive", :title => "avatar11" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios11" value="option11" checked>
		</div>
		<div class="col-xs-3">
			<div class="avatar">
				<%= image_tag "avatar12.png",:class => "img-responsive", :title => "avatar12" %>
			</div>
				<input class="radio" type="radio" name="optionsRadios" id="optionsRadios12" value="option12" checked>
		</div>
	</div>
</div>