<div class="avatars-gallery">
	<div class="row">
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar1.png",:class => "img-responsive", :title => "Avatar 1").html_safe, :value => image_url("avatar1.png") %>
			<%= f.radio_button :avatar, image_url("avatar1.png") %>
		</div>
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar2.png",:class => "img-responsive", :title => "Avatar 2").html_safe, :value => image_url("avatar2.png") %>
			<%= f.radio_button :avatar, image_url("avatar2.png") %>
		</div>
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar3.png",:class => "img-responsive", :title => "Avatar 3").html_safe, :value => image_url("avatar3.png") %>
			<%= f.radio_button :avatar, image_url("avatar3.png") %>
		</div>
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar4.png",:class => "img-responsive", :title => "Avatar 4").html_safe, :value => image_url("avatar4.png") %>
			<%= f.radio_button :avatar, image_url("avatar4.png") %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar5.png",:class => "img-responsive", :title => "Avatar 5").html_safe, :value => image_url("avatar5.png") %>
			<%= f.radio_button :avatar, image_url("avatar5.png") %>
		</div>
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar6.png",:class => "img-responsive", :title => "Avatar 6").html_safe, :value => image_url("avatar6.png") %>
			<%= f.radio_button :avatar, image_url("avatar6.png") %>
		</div>
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar7.png",:class => "img-responsive", :title => "Avatar 7").html_safe, :value => image_url("avatar7.png") %>
			<%= f.radio_button :avatar, image_url("avatar7.png") %>
		</div>
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar8.png",:class => "img-responsive", :title => "Avatar 8").html_safe, :value => image_url("avatar8.png") %>
			<%= f.radio_button :avatar, image_url("avatar8.png") %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar9.png",:class => "img-responsive", :title => "Avatar 9").html_safe, :value => image_url("avatar9.png") %>
			<%= f.radio_button :avatar, image_url("avatar9.png") %>
		</div>
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar8.png",:class => "img-responsive", :title => "Avatar 10").html_safe, :value => image_url("avatar10.png") %>
			<%= f.radio_button :avatar, image_url("avatar10.png") %>
		</div>
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar11.png",:class => "img-responsive", :title => "Avatar 11").html_safe, :value => image_url("avatar11.png") %>
			<%= f.radio_button :avatar, image_url("avatar11.png") %>
		</div>
		<div class="col-xs-3">
			<%= f.label :avatar, (image_tag "avatar12.png",:class => "img-responsive", :title => "Avatar 12").html_safe, :value => image_url("avatar12.png") %>
			<%= f.radio_button :avatar, image_url("avatar12.png") %>
		</div>
	</div>
</div>