<div class= "calculator">
	<div class="panel panel-default ">
		<div class="panel-heading">
			<%= t('home.wall.calculator.calculator') %>
		</div>
		<div class="panel-body">
				<form role= "form">
			<div class="edit-place">
					<div class= "form-group">
						<label><%= t('home.wall.calculator.contribution') %></label>
						<input type="text" class="form-control" id="contribution">
					</div>
					<div class= "form-group">
						<label><%= t('home.wall.calculator.percentage_change') %></label>
						<input type="text" class="form-control" id="change-of-course">
					</div>
					<button type="button" class="btn btn-success">
						<%= t('common.calculate') %>
					</button>
				</div>
				<div class= "count-place">
					<div class= "form-group">
						<label><%= t('home.wall.calculator.expected_gain') %></label>
						<input type="text" class="form-control" id="profit" readonly>
					</div>
					<button type="reset" class="btn btn-success">
						<%= t('home.wall.calculator.new_calculations') %>
					</button>
			</div>
				</form>
		</div>
	</div>
</div>

