<!DOCTYPE html>
<html>
	<head>
		<title>GPW Analizer</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
	</head>
	<body>
		<header id="header" class="header">
			<div class="wrapper">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<strong id="logo">
							<a href="<%= root_path %>">
								<%= image_tag 'logo.png',:title => 'GPW Analizer' %>
							</a>
						</strong>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8">
						<% if user_signed_in? %>
						 <%= render "partials/user_box" %>
						<% else %>
						 <%= render "partials/login_box" %>
						<% end %>
					</div>
				</div>
			</div>
		</header>
		<div class="wrapper" id="flash-messages">
			<%= render "partials/flash_box" %>
		</div>
