<%= render "partials/header" %>
<section id="content">
	<div class="wrapper container" id="landing-page">
		<section id="landing-page-top">
			<h3 class="text-center">Zarejestruj nowe konto</h3>
			<%= render "partials/registration_box" %>
		</section>
		
		<p id="go-further" class="text-center col-md-12">Chcesz wiedzieć więcej na temat GPW Analizer? Zejdź niżej...</p>

		<section id="landing-page-main">
			<div class="col-md-4 col-sm-4">
				<%= image_tag "ico-circle-ok.png", :title => "Giełda dla każdego" %>
				<h3>Giełda dla każdego</h3>
				<p>Próbowałeś rozpocząć swoją przygodę z giełdą, jednak zabrakło pomysłu na dobry start? Jesteś zainteresowany inwestycjami długoterminowymi, lecz nie masz czasu na dokładną analizę rynku giełdowego? <strong>GPW Analizer jest stworzony właśnie dla Ciebie.</strong></p>
			</div>
			<div class="col-md-4 col-sm-4">
				<%= image_tag "ico-circle-shield.png", :title => "Inwestuj bezpiecznie" %>
				<h3>Inwestuj bezpiecznie</h3>
				<p>Pomnażaj swój majątek każdego dnia inwestując długoterminowo z GPW Analizer. Osiągnij sukces dzięki cierpliwości i zdrowemu rozsądkowi. Nasze narzędzie pozwoli Ci zmniejszyć ryzyko związane z inwestycjami giełdowymi. Inwestuj i śpij spokojnie!</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<%= image_tag "ico-circle-graph.png", :title => "Prognozuj przyszłość" %>
				<h3>Prognozuj przyszłość</h3>
				<p>Wytypuj precyzyjnie wartości akcji z GPW Analizer. Zaawansowane algorytmy matematyczne bazujące na historycznych informacjach umożliwią Ci predykcję notowań giełdowych w przyszłości.</p>
			</div>
	    	<a href="#" id="register" class="btn btn-green col-md-12 col-sm-12">Sprawdź jak to działa już dziś, bezpłatnie!</a>
		</section>
	</div>
</section>
<%= render "partials/footer" %>