<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="main">
		<div class="wizard">
			<ul class="nav nav-tabs nav-tabs-justified">
				<li class="active">
					<a href="#tab1" data-toggle="tab">KROK 1</a>
				</li>
				<li>
					<a href="#tab2" data-toggle="tab">KROK 2</a>
				</li>
				<li>
					<a href="#tab3" data-toggle="tab">KROK 3</a>
				</li>

			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<h2> Wybierz interesujące Cię indeksy: </h2>
					<div class="col-sm-6 col-sm-offset-3">
						<input type="text" class="form-control" id="indices-list">
					</div>
				</div>
				<div class="tab-pane" id="tab2">
					<h2> Wybierz interesujące Cię spółki </h2>
					<div class="col-sm-6 col-sm-offset-3">
						<input type="text" class="form-control" id="companies-list">
					</div>
				</div>
				<div class="tab-pane" id="tab3">
					<h2>
						Zaznacz przedział prognozy jakim jesteś zainteresowany:
					</h2>
					<div class="btn-group checkboxes" data-toggle="buttons">
						<label class="btn btn-primary">
							<input type="checkbox" value="30">
							30 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox" value="60">
							60 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox" value="90">
							90 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox" value="180">
							180 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox" value="360">
							360 dni </label>
					</div>
					
				</div>

				<ul class="pager steps ">
					<li class="previous first" style="display:none;">
						<a href="#">First</a>
					</li>
					<li class="previous step">
						<a href="#"> Poprzedni krok</a>
					</li>
					<li class="next last" style="display:none;">
						<a href="#">Last</a>
					</li>
					<li class="next step">
						<a href="#">Następny krok</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="advice-place">
			<div class="advice" id="advice-0">
				<div class="col-sm-3 img-advice">
					<%= image_tag "books.png", :title => "Porady" %>
				</div>
				<div class="col-sm-9 forecast">
					<h2>
						Czym jest INDEKS
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
					</p>
				</div>
			</div>
			<div class="advice" id="advice-1">
				<div class="col-sm-3 img-advice">
					<%= image_tag "books.png", :title => "Porady" %>
				</div>
				<div class="col-sm-9 forecast">
					<h2>
						Czym jest SPÓŁKA
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
					</p>
				</div>
			</div>
			<div class="advice" id="advice-2">
				<div class="col-sm-3 img-advice">
					<%= image_tag "books.png", :title => "Porady" %>
				</div>
				<div class="col-sm-9 forecast">
					<h2>
						Czym jest OKRES PROGNOZY
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<%= render "partials/footer" %>