<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="main">
		<div class="wizard">
			<ul class="nav nav-tabs nav-tabs-justified nav-custom">
				<li class="active">
					<a href="#tab1" data-toggle="tab">KROK 1</a>
				</li>
				<li>
					<a href="#tab2" data-toggle="tab">KROK 2</a>
				</li>
				<li>
					<a href="#tab3" data-toggle="tab">KROK 3</a>
				</li>

			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<h2> <%= t('home.main.choose_indices') %></h2>
					<div class="col-sm-6 col-sm-offset-3">
						<input type="text" class="form-control" id="indices-list">
					</div>
				</div>
				<div class="tab-pane" id="tab2">
					<h2> <%= t('home.main.choose_companies') %> </h2>
					<div class="col-sm-6 col-sm-offset-3">
						<input type="text" class="form-control" id="companies-list">
					</div>
				</div>
				<div class="tab-pane" id="tab3">
					<h2>
						<%= t('home.main.choose_period') %>
					</h2>
					<div class="btn-group checkboxes" data-toggle="buttons">
						<label class="btn btn-primary">
							<input type="checkbox" value="30">
							30 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox" value="60">
							60 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox" value="90">
							90 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox" value="180">
							180 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox" value="360">
							360 dni </label>
					</div>
					
				</div>

				<ul class="pager steps ">
					<li class="previous first" style="display:none;">
						<a href="#">First</a>
					</li>
					<li class="previous step">
						<a href="#"> <%= t('home.main.previous_step') %></a>
					</li>
					<li class="next last" style="display:none;">
						<a href="#">Last</a>
					</li>
					<li class="next step">
						<a href="#"><%= t('home.main.next_step') %></a>
					</li>
				</ul>
			</div>
		</div>
		<div id="advice-place">
			<div class="advice" id="advice-0">
				<div class="col-sm-3 img-advice">
					<%= image_tag "czym-jest-indeks.png", :title => "Porady" %>
				</div>
				<div class="col-sm-9 forecast">
					<h2>
						Czym jest indeks?
					</h2>
					<p>
					Indeks giełdowy jest miarą statystyczną pokazującą w jaki sposób zmieniają się ceny grupy wyselekcjonowanych spółek w określonym czasie oraz w istotny sposób wpływającą na zachowanie się inwestorów giełdowych. Obserwując zmiany wartości indeksu można bez analizowania cen akcji poszczególnych spółek ocenić poziom zwrotu na rynku oraz określić kierunek ruchu cen.  					
					</p>
				</div>
			</div>
			<div class="advice" id="advice-1">
				<div class="col-sm-3 img-advice">
					<%= image_tag "czym-jest-spolka.png", :title => "Porady" %>
				</div>
				<div class="col-sm-9 forecast">
					<h2>
						Czym jest spółka?
					</h2>
					<p>
					Spółka giełdowa jest to spółka akcyjna, notowana na giełdzie papierów wartościowych. Jest rodzajem powszechnej w gospodarce wolnorynkowej spółki kapitałowej, której forma opiera się na obiegu akcji będących w posiadaniu akcjonariuszy. Kapitał zakładowy składa się z wkładów założycieli, którzy stają się współwłaścicielami spółki. Spółki są pogrupowane w indeksach. Spółka może być przypisana do więcej niż jednego indeksu.				
					</p>
				</div>
			</div>
			<div class="advice" id="advice-2">
				<div class="col-sm-3 img-advice">
					<%= image_tag "czym-jest-prognoza.png", :title => "Porady" %>
				</div>
				<div class="col-sm-9 forecast">
					<h2>
						Czym jest okres prognozy?
					</h2>
					<p>
					Na kształtowanie się notowań na giełdzie ma wpływ wiele czynników. GPW Analizer jako główny czynnik kształtowania notowań przyjmuje okres czasu prognozy. Na podstawie danych historycznych dopasowuje najbardziej optymalny model diagnozujący do jednego z 5 przedziału czasu (30 dni, 60 dni, 90 dni, 180 dni, 360 dni). Model pozwala stwierdzić czy w danym okresie czasu będzie opłacała się inwestycja w daną spółkę.									
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<%= render "partials/footer" %>