<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="user-edit">
		<%= form_for(@user, :url => url_for(:controller => 'home', :action => 'user_edit'), html: { multipart: true }) do |f| %>
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4">
				<div class="fixed-buttons">
					<button id="to-change-avatar" type="button" class="btn btn-default col-xs-12">
						Avatar
					</button>
					<button id="to-data-edition" type="button" class="btn btn-default col-xs-12">
						Dane konta
					</button>
					<%= f.button t('home.user_edit.save_changes'), type: :submit, name: :update, class: "btn btn-success col-xs-12" %>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="editing-data-col col-xs-8 form-horizontal">
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-6">
								<div class="file-selection">
									<h3>Wybierz plik z dysku...</h3>
									<div class= "form-control select-place">
										<%= f.file_field :avatar %>
									</div>
								</div>
							</div>
							<div class="col-xs-3 col-xs-offset-3 avatar-preview">
								<% if current_user.avatar.file? %>
									<div class="img-rounded image-place">
										<%= image_tag(current_user.avatar.url, :height => "150", :class => "img-responsive img-bordered") %>
									</div>
									<div class="btn-group">
									  <label class="btn btn-danger">
									    <input type="checkbox" name="user[delete_avatar]" value="1"> Usuń avatar
									  </label>
									</div>
								<% else %>
									<div class="img-rounded image-place default">
										<span class="glyphicon glyphicon-user"></span>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h3>... lub wybierz coś z naszej galerii:</h3>
					</div>
					<%= render "partials/avatars_gallery", :f => f %>
				</div>
				<div id="data-edition" class="data-edition">
					<h3>Edytuj swoje dane</h3>
					<div class="form-group">
						<%= f.label t('activerecord.attributes.user.first_name')+':', class: "col-sm-4 control-label" %>
						<div class="col-sm-6">
							<%= f.text_field :first_name, class: "form-control", placeholder: t('activerecord.attributes.user.first_name') %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label t('activerecord.attributes.user.last_name')+':', class: "col-sm-4 control-label" %>
						<div class="col-sm-6">
							<%= f.text_field :last_name, class: "form-control", placeholder: t('activerecord.attributes.user.last_name') %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label t('activerecord.attributes.user.password')+':', class: "col-sm-4 control-label" %>
						<div class="col-sm-6">
							<%= f.password_field :password, value: '', class: "form-control", placeholder: t('activerecord.attributes.user.password') %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label t('activerecord.attributes.user.password_confirmation')+':', class: "col-sm-4 control-label" %>
						<div class="col-sm-6">
							<%= f.password_field :password_confirmation, class: "form-control", placeholder: t('activerecord.attributes.user.password_confirmation') %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	</div>
</section>
<%= render "partials/footer" %>