<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="wall" class="wall">
		<div class="left-side col-sm-3">
			<div class="filters-col">
				<%= link_to 'Dodaj więcej spółek', main_path, :class => "btn btn-success btn-lg col-xs-12" %>
				<%= render "partials/left_filter_panel" %>
				<%= render "partials/calculator" %>
			</div>
		</div>
		<div class="right-side col-sm-9" id="analysis-items">
			<% if @analysis[:analysis].count > 0 %>
			<div class="analysis-list">
				<% @analysis[:analysis].each do |k, v| %>
					<%= render "partials/analysis_item", :object => v %>
				<%end %>
			</div>
			<div class="pager">
				<%= render "partials/pager", :total_pages => @analysis[:total_pages] %>
			</div>
			<% else %>
				<p class="text-center text-muted" style="padding: 30px 0">Brak historii analiz.</p>
			<% end %>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<%= render "partials/footer" %>