<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="wall" class="wall">
		<div class="left-side col-sm-3">
			<div class="filters-col">
				<%= render "partials/left_filter_panel" %>
			</div>
		</div>
		<div class="right-side col-sm-9">
			<div class="analysis-list">
				<% @analysies.each do |a| %>
					<%= render "partials/analysis_item", :object => a %>
				<% end %>
			</div>
			<div class="pager">
				<%= render "partials/pager" %>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</section>
<%= render "partials/footer" %>