<h1>Listing analisies</h1>

<table>
  <thead>
    <tr>
      <th>Lowest rate</th>
      <th>Medium rate</th>
      <th>Highest rate</th>
      <th>Algoritms rate</th>
      <th>Period</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @analisies.each do |analisy| %>
      <tr>
        <td><%= analisy.lowest_rate %></td>
        <td><%= analisy.medium_rate %></td>
        <td><%= analisy.highest_rate %></td>
        <td><%= analisy.algoritms_rate %></td>
        <td><%= analisy.period %></td>
        <td><%= analisy.date %></td>
        <td><%= link_to 'Show', analisy %></td>
        <td><%= link_to 'Edit', edit_analisy_path(analisy) %></td>
        <td><%= link_to 'Destroy', analisy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Analisy', new_analisy_path %>
